body {
  background-color: #d9d9d9;
  font-family: sans-serif;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.side-menu-section {
  background-color: #274c77;
}

.dashboard,
.shiftlog-content {
  padding-left: 20vh;
  padding-right: 20vh;
  width: 100%;
}

h1 {
  font-weight: 300;
  text-align: center;
}

.menu-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.card-item {
  background-color: #fff;
  width: 200px;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 20px;
}

.staff-charts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 0;
}
.chart-item {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 60vh;
  height: 60vh;
  margin: 10px;
}
